[Desktop Entry]
Version=1.0
Type=Application

Name=Steam Deck Repo Manager
Comment=Install boot videos to your Steam Deck
Categories=Utility;

Icon=repomanager
Exec=/app/bin/runner.sh
Terminal=false
StartupNotify=true
